<h1>Cash Report</h1>

{% if records %}
  <table>
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Subject</th>
    <th scope="col">Summary</th>
    <th scope="col">Income</th>
    <th scope="col">Expense</th>
    <th scope="col">Balance</th>
    <th scope="col">View</th>
  </tr>
  </thead>
  <tbody>
    {% for record in records %}
      <tr>
      <td>{{ record.transaction.date }}</td>
      <td>{{ record.subject.title_zhtw }}</td>
      <td>{{ record.summary }}</td>
      <td>{{ record.debit_amount }}</td>
      <td>{{ record.credit_amount }}</td>
      <td>{{ record.amount }}</td>
      <td><a href="{{ record.transaction.get_absolute_url }}">View</a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% else %}
  <p>No data.</p>
{% endif %}
